{{#if addNewAnswer}}
  <hr>
  <h3>Post New Answer</h3>
  <div>
    <form id="new-answer">
      <div class="form-group">
        <label for="answer">Answer:</label>
        {{textarea class="form-control" value=answer id="answer"}}
      </div>

      <div class="form-group">
        <label for="author_answer">Author:</label>
        {{input class="form-control" value=author_answer id="author_answer"}}
      </div>

      <button {{action 'submitAnswer1'}} class="btn btn-warning btn-lg ask">Submit</button>
    </form>
  </div>
{{else}}
  <div class="button-block">
    <button {{action 'answerFormShow'}} class="btn btn-warning btn-lg ask">
      <span class="glyphicon glyphicon-plus"></span> Post Answer
    </button>
  </div>
{{/if}}
