{{#if addNewQuestion}}
  <hr>
  <h3>Post New Question</h3>
  <div>
    <form id="new-ques">
      <div class="form-group">
        <label for="question">Question:</label>
        {{textarea class="form-control" value=question id="question"}}
      </div>

      <div class="form-group">
        <label for="author">Author:</label>
        {{input class="form-control" value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes:</label>
        {{input class="form-control" value=notes id="notes"}}
      </div>

      <button {{action 'submitQuestion1'}} class="btn btn-warning btn-lg ask">Submit</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}} class="btn btn-warning btn-lg ask">
    <span class="glyphicon glyphicon-plus"></span> Ask Question
  </button>
{{/if}}
