<li class="list-group-item">
  <div class="mark-favorite-wrapper">
    <button class="btn btn-default btn-xs pull-right" id="mark-favorite" {{action 'addFavorite' question}}><span class="glyphicon glyphicon-pushpin"></span></button>
    <p class="posted">{{question.date}}</p>
</div>
  <div class="question-display-wrapper">
    <p class="question-display">{{#link-to 'question' question.id}} {{question.question}}{{/link-to}}</p>
  </div>

  <p class="author-display">- Pondered by {{question.author}}</p>
  {{questionAnswered question}}
</li>
